<!DOCTYPE html>
<html>

   <head>
      <title>Timestamp Microservice</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>Timestamp service</h1>
        <p>Enter a date in ISO-8601 form (e.g. 2015-12-25) and get a unix timestamp.<br>Enter a unix timestamp (e.g. 1451001600000) and get a date back.</p>
        <form action="/api/timestamp/" method="GET">
          <input id="date_string" name="date_string" type="text"/>
          <input type="submit" onClick="submit"/> 
        </form>
      </div>
   </body>

</html>
